<div class="col s12 z-depth-4 card-panel">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form') do |f| %>
    <div class="row">
        <div class="input-field col s12 center">
        <img src="http://demo.geekslabs.com/materialize/v3.1/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
        <p class="center login-form-text">Bubboss</p>
        </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <%= f.label :email, class: 'center-align' %>
          <%= f.email_field :email, autofocus: true, class: 'valdate'%>
      </div>
    </div>

    <div class="row margin">
      <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.label :password, class: 'center-align' %>
          <%= f.password_field :password, autofocus: true, class: 'valdate'%>
      </div>
    </div>
    <div class="row">          
      <div class="input-field col s12 m12 l12  login-text">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end -%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.submit "Entrar", class: 'btn waves-effect waves-light col s12 deep-purple' %>
      </div>
    </div>
  <% end %>
</div>

<%#= render "devise/shared/links" %>